<head>
    <title>CourseHUB</title>
    <link rel='stylesheet' href='static/stylesheets/style.css' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/43f7102574.js" crossorigin="anonymous"></script>
    </head>