<!-- Nav -->
<nav class="main-nav">
    <a href="/">
        <img src="static/images/logo.jpg" alt="Microsoft" class="logo">
    </a>

    <ul class="right-menu">
        <li>
            <form action="/login" method="GET">
                <button class="btn login">Login</button>
            </form>
        </li>
        <li>
            <form action="/signup" method="GET">
                <button class="btn add-course">Add Course</button>
            </form>
        </li>
        <li>
            <form action="/signup" method="GET">
                <button class="btn logout">Logout</button>
            </form>
        </li>
    </ul>
</nav>