<!DOCTYPE html>
<html lang="en">

<% include partials/header %>

<body>
    <div class="container">
        <% include partials/navbar %>
        <h1>All Available Courses</h1>
        <div class="courses">
            <% for (var i = 0; i < courses.length; i++) { %>
            <div class="courseCard">
                <h1>
                    <%= courses[i].name %>
                </h1>
                <h3>
                    <%= courses[i].course_code %>
                </h3>
            </div>
            <% } %>
        </div>
        <% include partials/footer %>
    </div>
</body>

</html>