<!DOCTYPE html>
<html lang="en">

<% include partials/header %>

<body>
  <div class="container">
    <% include partials/navbar %>
    <div class="universities">
      <div class="unicard" id="0" style="  background-image: url('static/images/fast.jpg')
">
        <h1>FAST NUCES</h1>
      </div>
      <div class="unicard" id="1" style="  background-image: url('static/images/lums.jpg')
">
        <h1>LUMSU</h1>
      </div>
      <div class="unicard" id="2" style="  background-image: url('static/images/nust.jpg')
">
        <h1>NUST</h1>
      </div>
    </div>
    <% include partials/footer %>
  </div>
</body>

</html>