<!DOCTYPE html>
<html lang="en">

<% include partials/header %>

<body>
    <div class="container">
        <% include partials/navbar %>

        <h1>Login as Student or Teachers</h1>
        <div>
            <a class="btn" href="/auth/facebook">Login</a>
        </div>
        <% include partials/footer %>
    </div>
</body>

</html>